<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
     content="width=device-width, initial-scale=1.0">
    <title>Meuble</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="newcontainer">
            <h2>Type volume</h2>
            <form action="/insertnewvolume" method="post" id="form">
                <label for="nom" style="font-size: 16px;">Nom:</label>
                 <input type="text" name="nom" id="nom"> <br>

                <button type="submit"  class="btn btn-primary"
                 style="font-size: 16px;">Valider</button>
            </form>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>