<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
     content="width=device-width, initial-scale=1.0">
    <title>Insertion ouvrier</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>

    <div class="container" style="margin-top: 40px;">
        <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-4 col-lg-4">
                <form action="insertnewmateriau" method="post">
                    <p><label for="Description" style="font-size: 16px;">Description: </label>
                    <input type="text" name="description" style="font-size: 16px; margin-bottom: 23px;"></p>
                    <p><label for="Taux horaire" style="font-size: 16px;">taux horaire: </label>
                    <input type="text" name="description" style="font-size: 16px; margin-bottom: 23px;"> Ariary</p>
        
                    <input type="submit" value="Valider" style="font-size: 16px;"
                     class="btn-primary btn">
                </form>
            </div>
        <div class="col-md-2 col-lg-2"></div>
    </div>
    
</body>
</html>