<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
     content="width=device-width, initial-scale=1.0">
    <title>Meuble</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="divForm">
        <h3><u>Meubles filtrés par prix de fabrication</u></h3>
        <table class="table-striped">
            <thead>
                <tr>
                    <td>Catégorie</td>
                    <td>Style</td>
                    <td>Volume</td>
                    <td>Coût</td>
                </tr>
            <thead>
            <tbody>
                <tr th:each="liste_meuble : ${meubles}" class="align-middle">
                    <td th:text="${liste_meuble.getCategorie().getNom()}">
                    </td>
                    <td th:text="${liste_meuble.getStyle().getNom()}"></td>
                    <td th:text="${liste_meuble.getVolume().getNom()}"></td>
                    <td th:text="${liste_meuble.getCout()}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>