<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
     content="width=device-width, initial-scale=1.0">
    <title>Meuble</title>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
</head>
<body>
    <div th:utext="${menu_list}"></div>

    <div class="divForm">
        <h3><u>Liste des matériaux avec reste en stock</u></h3>
        <table class="table-striped table">
            <tr>
                <th>Matériaux</th>
                <th>Quantité</th>
            </tr>
            <tr th:each="stockmateriau : ${stocks}">
                <td th:text="${stockmateriau.getMateriau().getNom()}">
                </td>
                <td th:text="${stockmateriau.getStock()}">
                </td>
            </tr>
        </table>
    </div>
</body>
</html>