<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
     content="width=device-width, initial-scale=1.0">
    <title>Meuble</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="divForm">
        <h3><u>Choix fourchette de prix</u></h3>
        <form action="/getmeublesfilteredbyprix" method="post">
            <label for="prixMin">Prix min:</label>
            <input type="number" name="prixmin" id="prixMin"> <br>
            <label for="prixMax">Prix unitaire:</label>
            <input type="number" name="prixmax" id="prixMax"> <br>

            <button type="submit" class="btn btn-primary">Voir meubles</button>
        </form>
    </div>
</body>
</html>